.FullscreenableWrapper{
  .controls{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .info{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 10px);
    .IconWithBackground{
      cursor: default;
    }
  }
}
