@import 'styles/fonts.scss';
$font-weights: (
  bold: $font-weight-bold,
  semibold: $font-weight-semibold,
  regular: $font-weight-regular,
  light: $font-weight-light,
);
.FontWeight {
  display: inline-block;
  width: 100%;

  @each $name, $weight in $font-weights {
    &.font-#{$name} {
      font-weight: $weight;
    }
  }
  &.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
